$color-primary: #1e6fe4;
$color-secondary: #949EAE;
$color-gray: #5f6e85;
$color-labels:#939393;
$color-headings:#303030;
$color-grid-headers: #5d6c84;
$color-grid-subheaders: rgba(93, 108, 132, 0.66);
$color-grid-row-delimiters: #eaedf3;
$color-primary-highlight: #549ae6;
