<div class="container container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="title-text">Success</div>
        </div>
        <div class="col-sm-12 info-text-container mt-2">
            Your device and Vault-ERP system are paired and you can now login.
        </div>
        <div class="col-sm-12 mt-2 mb-2">
            <div class="image-container">
                <img src="./assets/images/pairing-success.svg" class="activate-image">
            </div>
        </div>
        <div class="col-sm-12 mt-2">
            <button class="btn btn-primary mb-2" (click)="showLoginPage()">LOGIN <span
                    class="right-arrow">&gt;</span></button>
        </div>
    </div>

</div>