.privacy-policy-container {
  text-align: center;
  font-size: 10px;
}

.green-text {
  color: #14CB43;
}

.image-container {
  img.activate-image {
    max-width: 260px;
    max-height: 220px;
  }
}

.image-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}